.p-training-tutorial{
    &__inner{
        margin-top: 24px;
        margin-bottom: 30px;
    }
    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}